.camp{
    border-radius: 5px;
}

.card{
        
    
        box-shadow: -1px 4px 19px 5px #7A7A7A;;
        width: 18rem;
        height: 50vh;
        background: rgb(63,221,251);
        background: radial-gradient(circle, rgba(63,221,251,0.8519782913165266) 22%, rgba(70,252,204,1) 100%);
        flex-direction: row;
        justify-content: center ;
        align-items: center ;
        margin:  0 auto;
        margin-top: 0rem;
        
}

.btn{
    
    right: 100px !important;
    left: 50px;
    text-align: center;
    border-radius: 6px;
    background-color: #0b8292;
    color: white;
    font-size: 18px;
}
.title{

        height: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 4em;
        margin-top: 6rem;
        color: white;
 
}
.login {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2rem;
    margin-top: -1em;

}
.body{
    background: rgb(63,240,251);
    background: radial-gradient(circle, rgba(63,240,251,0.8519782913165266) 22%, rgba(70,252,204,1) 100%);
}
#img{

    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 0;
    border-radius: 10rem;
}
