<!DOCTYPE html>
<html lang="en">
<head>
	
	
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>Cadastro</title>
</head>
<body class="body">
    
    <form name="login" action="file:///C:/Users/user/Desktop/treinamento/index.html">
    
    

        <h5 class="title">Cadastro</h5>
    <div class="card" >
        <div class="login">
          <img id="img" src="img/login.png" alt="">
          Nome:
          <input id= "nome"class="camp form-control" type="text" name="Nome"/><br>
          CPF:
          <input id="cpf" maxlength="11" class="camp form-control" type="text" name="CPF"/><br>
          Qual Comida você irá trazer ?
          <input id="comida" class= "camp form-control" type="text" name="comida"/><br>
          <button id="btn" type="submit" class="btn">to enter</button>
          
        </div>
        

      </div>
</form>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>