<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <link rel="stylesheet" href="css/telaLogin.css">

</head>
<body>
    
    <main>
        <div class="logo">
            <img src="img/LOGO_NOVA.png" alt="logo" width="157px">
        </div>
        <form action="">
            <label for="email">
                <span>Email</span>
                <input type="email" id="email" name="email" placeholder= "Email">
            </label>
            <label for="senha">
                <span>Senha</span>
                <input type="password" id="senha" name="senha" placeholder="Senha">
            </label>
            <input type="button" value="Entrar" id="btnEntrar">
            <a  href="/cadastro">Não é cadastrado?</a>

        </form>
    </main>

	<script src="js/script.js"></script>

</body>
</html>